# Ignore all py_tests.py files
**/py_tests.py

# Ignore your Python virtual environment
PrimePyVenv/

# Ignore LaTeX build artifacts
*.aux
*.log
*.toc
*.out
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg

# Optional: ignore backup or intermediate LaTeX files
docs/*.synctex.gz
docs/*.bbl
docs/*.blg

# Ignore compiled Python files
__pycache__/
*.pyc

# VSCode settings
.vscode/

# Ignore compiled shared libraries
*.so
*.o
*.a

# Ignore build directory (CMake)
cpp/build/


.DS_Store

# Ignore external libraries
cpp/external/eigen/
cpp/external/pybind11/